.func {
  cursor: pointer;
}

.func.disabled {
  cursor: not-allowed;
}

.icon--rotating-yellow {
  animation: rotate 15s infinite linear;
  color: yellow;
}

@keyframes rotate {
    0% {
    transform: rotate(0deg);    
  }
  100% {
    transform: rotate(360deg);
  }
}