.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #61dafb;
  padding: 5px 0;
}

.logoWrapper img {
  pointer-events: none;
  animation: Logo-spin infinite 20s linear;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  background-color: #20232a;
  box-shadow: 1px 1px 10px #777;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav li {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
}

.nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0 15px 30px;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  font-weight: 600;
}

.nav a:hover,
.nav a.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #ebebeb;
}

.nav a.active {
  color: #61dafb;
}
